html{
    font-size: 15px;
    
}
body{
    margin:15px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    
}
#main{
    background-color:rgb(219, 215, 215);
    margin: 0;
    border-radius: 4px;
    background: rgb(34,193,195);
    background: linear-gradient(15deg, rgba(34,193,195,1) 0%, rgba(45,253,131,1) 100%);
}
#title{
    font-family: 'Syne Mono',sans-serif;
    font-size: 3rem;
    padding: 10px;
    text-shadow: 5px 5px 1px#fff;
    margin: 0;
}
@media(max-width:550px){
    #title{
        font-size: 1.5rem;
    }
}
p{
    margin: 0;
}
#img-div{
    box-shadow: 0 10px 20px rgba(0,0,0,.30), 0 6px 6px rgba(0,0,0,0.30);
    
    /*font-family: cursive;*/
    border-radius: 5px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(134,137,142,1) 100%);
    
    padding: 5px 5px 0px 5px;
    margin: 0px 10px;
}
#img{
    height:auto;
    max-width: 100%;
    padding: 5px;
    margin-bottom: 0;
}
#img-caption{
    
    padding: 10px;
    font-size: 0.9rem;
    
    
}
ul{
    max-width: 550px;
    margin: 0px auto;
    text-align: left;
    line-height: 2rem;
    font-size: 20px;
}

#tribute-link{
    font-size: 1rem;
    
}
a{
    color: #35509b;
    
}
a:hover{
    color: aliceblue;
}




